@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size:62.5%
    }
body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;  
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
ul li{
    list-style-type: none;
}
video{
    width: 100%;
    height: auto;
}