//font variables
$primary-font:Montserrat;

//primary colors
$color-primary:#E44240;
$color-white: #fff;
$color-wheat:#FCFBFE;
$color-dark-black:#000;
$color-black: #262626;
$light-grey: #929292;
$dark-grey: #373333;
$sky-blue:#E4ECEE;
$color-light-black:#f9f9f9;
$color-orange:#EFDDDD;
$color-sky:#F6F7FC;
$color-dark:#131313;
$light-light-grey: #707070;
$color-bluish:#1A1C29;
$color-darkgreen:#C1BFBF;
$color-lighten:#E4E4E4;
$color-lightdark:#292727;
$timing : 265ms;
$iconColor : #00B5F5;
$accent : #002A8F;
$bluefade : #0043E0;
$gradient : #00B5F5;