* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size:62.5%
    }
body {
    width: 100%;
    min-height: 100vh;
    font-family: $primary-font;
    
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
ul li{
    list-style-type: none;
}
video{
    width: 100%;
    height: auto;
}